<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAiF7W5uK2vo1f56WfG_W-UsKF2U0K0iJY</string>
	<key>GCM_SENDER_ID</key>
	<string>596732134716</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brentbumann.FirebaseAuthTester</string>
	<key>PROJECT_ID</key>
	<string>fir-authtest-a791b</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-authtest-a791b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:596732134716:ios:025da9f831dff2040d4a39</string>
</dict>
</plist>